<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <LimeSoda_TrailingSlashes>
            <version>0.1.0</version>
        </LimeSoda_TrailingSlashes>
    </modules>
    <default>
        <web>
            <ls_trailingslashes>
                <http_status_code>301</http_status_code>
                <category_view>0</category_view>
                <cms_page_view>0</cms_page_view>
                <product_view>0</product_view>
            </ls_trailingslashes>
        </web>
    </default>
    <frontend>
    </frontend>
    <global>
        <events>
            <controller_action_predispatch_catalog_category_view>
                <observers>
                    <limesoda_trailingslashes>
                        <class>limesoda_trailingslashes/observer</class>
                        <method>predispatchCatalogCategoryView</method>
                    </limesoda_trailingslashes>
                </observers>
            </controller_action_predispatch_catalog_category_view>
            <controller_action_predispatch_catalog_product_view>
                <observers>
                    <limesoda_trailingslashes>
                        <class>limesoda_trailingslashes/observer</class>
                        <method>predispatchCatalogProductView</method>
                    </limesoda_trailingslashes>
                </observers>
            </controller_action_predispatch_catalog_product_view>
            <controller_action_predispatch_cms_page_view>
                <observers>
                    <limesoda_trailingslashes>
                        <class>limesoda_trailingslashes/observer</class>
                        <method>predispatchCmsPageView</method>
                    </limesoda_trailingslashes>
                </observers>
            </controller_action_predispatch_cms_page_view>
        </events>
        <helpers>
            <limesoda_trailingslashes>
                <class>LimeSoda_TrailingSlashes_Helper</class>
            </limesoda_trailingslashes>
        </helpers>
        <models>
            <limesoda_trailingslashes>
                <class>LimeSoda_TrailingSlashes_Model</class>
            </limesoda_trailingslashes>
        </models>
    </global>
</config>
